<div class="header-top-bar-container clearfix">
    <div class="header-top-bar">
        <ul class="contact-details clearfix">
            <li class="template-phone">+372 53 000 376</li>
            <li class="template-mail">
                <a href="mailto:info@toyotaabi.ee">info@toyotaabi.ee</a>
            </li>
            <li class="template-clock">E-R: 9:00 - 17:30</li>
        </ul>
        <ul class="social-icons">
            <li>
                <a>
                    <img src="../../assets/Russia-Flag-icon.png"/>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="header-container">
    <div class="vertical-align-table column-1-1">
        <div class="header clearfix">
            <div class="logo vertical-align-cell">
                <h1>
                    <a [routerLink]="['/']" title="Home">
                        <img src="../../assets/logo-toyotaabi.png">
                    </a>
                </h1>
            </div>
            <div class="menu-container clearfix vertical-align-cell">
                <nav>
                    <ul class="header-cart-btn sf-menu">
                        <li>
                            <a [routerLink]="['/cart']" [ngbTooltip]="'go.to.cart' | translate" placement="right">
                                <p *ngIf="countdownConfig$ | async as config">
                                    <countdown [config]="config" (event)="deleteCart()"></countdown>
                                </p>
                                <i class="template-shopping-cart"></i>
                                <span *ngIf="count$ | async as count" class='badge header-cart-quantity'>{{ count }}</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>