<div class="row gray full-width page-header vertical-align-table">
    <div class="row full-width padding-top-bottom-50 vertical-align-cell">
        <div class="row" style="display: block;">
            <div class="page-header-left">
                <h1>TELLIMUSE ANDMED</h1>
            </div>
            <div class="page-header-right">
                <div class="bread-crumb-container">
                    <ul class="bread-crumb">
                        <li>
                            <a [routerLink]="['/']">ESILEHT</a>
                        </li>
                        <li class="separator">/</li>
                        <li>TELLIMUSE ANDMED</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>