<div class="container" *ngIf="products$ | async as products">
    <a (click)="toggleFilter()">{{ 'toggle.filter.button' | translate }}</a>

    <div  *ngIf="displayFilter$ | async" class="filter-section">
        <div *ngIf="form" class="row">
            <div class="col-lg-6">
                <toyrem-input [type]="inputType.text"
                              [label]="'product.code' | translate"
                              [key]="'code'"
                              [form]="form">
                </toyrem-input>
            </div>
            <div class="col-lg-6">
                <toyrem-input [type]="inputType.text"
                              [label]="'product.name' | translate"
                              [key]="'name'"
                              [form]="form">
                </toyrem-input>
            </div>
        </div>

        <div>
            <button type="button"
                    class="btn btn-sm btn-primary float-left"
                    data-toggle="button"
                    aria-pressed="false"
                    (click)="reset()">
                {{ 'reset' | translate }}
            </button>
            <div class="text-right">
                <button type="button"
                        class="btn btn-sm btn-primary"
                        data-toggle="button"
                        aria-pressed="false"
                        (click)="search()">
                    {{ 'search' | translate }}
                </button>
            </div>
        </div>
    </div>

    <div *ngFor="let chunk of products" class="row">
        <div *ngFor="let product of chunk" class="col-xl-4">
            <div class="row">
                <img class="product-image" src="{{ product.image }}"/>
            </div>

            <a [routerLink]="['/products', product.id]">{{ getProductName(product) }}</a>

            {{ product.price }}

            <div *ngIf="qtyPerProduct$ | async as qtyPerProduct" class="input-group" >
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number">-</button>
                </span>
                <input type="text"
                       class="form-control input-number"
                       value="{{ qtyPerProduct[product.id] ? qtyPerProduct[product.id] : 0 }}"
                       min="0"
                       max="{{ product.quantity }}">
                <button type="button" class="btn btn-default btn-number">+</button>
            </div>
        </div>
    </div>

    <div class="row">
        <nav class="d-flex justify-content-center" aria-label="Lehekülgede vahel navigeerimine">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">{{ 'previous.page' | translate }}</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">{{ 'next.page' | translate }}</a></li>
            </ul>
        </nav>
    </div>
</div>