<ul *ngIf="products$ | async as products" class="products-list clearfix">
    <!--<a (click)="toggleFilter()">{{ 'toggle.filter.button' | translate }}</a>

    <div  *ngIf="displayFilter$ | async" class="filter-section">
        <div *ngIf="form" class="row">
            <div class="col-lg-6">
                <toyrem-input [type]="inputType.text"
                              [label]="'product.code' | translate"
                              [key]="'code'"
                              [form]="form">
                </toyrem-input>
            </div>
            <div class="col-lg-6">
                <toyrem-input [type]="inputType.text"
                              [label]="'product.name' | translate"
                              [key]="'name'"
                              [form]="form">
                </toyrem-input>
            </div>
        </div>

        <div>
            <button type="button"
                    class="btn btn-sm btn-primary float-left"
                    data-toggle="button"
                    aria-pressed="false"
                    (click)="reset()">
                {{ 'reset' | translate }}
            </button>
            <div class="text-right">
                <button type="button"
                        class="btn btn-sm btn-primary"
                        data-toggle="button"
                        aria-pressed="false"
                        (click)="search()">
                    {{ 'search' | translate }}
                </button>
            </div>
        </div>
    </div>-->

    <li *ngFor="let product of products">
        <a [routerLink]="['/products', product.id]" [ngbTooltip]="'view.product.details' | translate">
            <img class="product-image" src="{{ product.image }}" alt="img"/>
            <h4>{{ getName(product)}}</h4>
            <h5>{{ product.price }}€</h5>
        </a>
    </li>
</ul>

<nav class="d-flex justify-content-center" aria-label="Lehekülgede vahel navigeerimine">
    <ul class="pagination">
        <li>
            <a class="template-arrow-left-1" href="#">J</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">{{ 'next.page' | translate }}</a></li>
    </ul>
</nav>